@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --bg: oklch(1 0 0);
  --fg: oklch(0.145 0 0);
  --card-bg: oklch(1 0 0);
  --card-fg: oklch(0.145 0 0);
  --popover-bg: oklch(1 0 0);
  --popover-fg: oklch(0.145 0 0);
  --primary-bg: oklch(0.205 0 0);
  --primary-fg: oklch(0.985 0 0);
  --secondary-bg: oklch(0.97 0 0);
  --secondary-fg: oklch(0.205 0 0);
  --muted-bg: oklch(0.97 0 0);
  --muted-fg: oklch(0.556 0 0);
  --accent-bg: oklch(0.97 0 0);
  --accent-fg: oklch(0.205 0 0);
  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.577 0.245 27.325);
  --border-color: oklch(0.922 0 0);
  --input-bg: oklch(0.922 0 0);
  --focus-ring: oklch(0.708 0 0);
  --chart-color-1: oklch(0.646 0.222 41.116);
  --chart-color-2: oklch(0.6 0.118 184.704);
  --chart-color-3: oklch(0.398 0.07 227.392);
  --chart-color-4: oklch(0.828 0.189 84.429);
  --chart-color-5: oklch(0.769 0.188 70.08);
  --border-radius: 0.625rem;
  --sidebar-bg: oklch(0.985 0 0);
  --sidebar-fg: oklch(0.145 0 0);
  --sidebar-primary-bg: oklch(0.205 0 0);
  --sidebar-primary-fg: oklch(0.985 0 0);
  --sidebar-accent-bg: oklch(0.97 0 0);
  --sidebar-accent-fg: oklch(0.205 0 0);
  --sidebar-border-color: oklch(0.922 0 0);
  --sidebar-focus-ring: oklch(0.708 0 0);

  --background: var(--bg);
  --foreground: var(--fg);
  --card: var(--card-bg);
  --card-foreground: var(--card-fg);
  --popover: var(--popover-bg);
  --popover-foreground: var(--popover-fg);
  --primary: var(--primary-bg);
  --primary-foreground: var(--primary-fg);
  --secondary: var(--secondary-bg);
  --secondary-foreground: var(--secondary-fg);
  --muted: var(--muted-bg);
  --muted-foreground: var(--muted-fg);
  --accent: var(--accent-bg);
  --accent-foreground: var(--accent-fg);
  --destructive: var(--danger);
  --destructive-foreground: var(--danger-fg);
  --border: var(--border-color);
  --input: var(--input-bg);
  --ring: var(--focus-ring);
  --chart-1: var(--chart-color-1);
  --chart-2: var(--chart-color-2);
  --chart-3: var(--chart-color-3);
  --chart-4: var(--chart-color-4);
  --chart-5: var(--chart-color-5);
  --radius: var(--border-radius);
  --sidebar: var(--sidebar-bg);
  --sidebar-foreground: var(--sidebar-fg);
  --sidebar-primary: var(--sidebar-primary-bg);
  --sidebar-primary-foreground: var(--sidebar-primary-fg);
  --sidebar-accent: var(--sidebar-accent-bg);
  --sidebar-accent-foreground: var(--sidebar-accent-fg);
  --sidebar-border: var(--sidebar-border-color);
  --sidebar-ring: var(--sidebar-focus-ring);
}

.dark {
  --bg-dark: oklch(0.145 0 0);
  --fg-dark: oklch(0.985 0 0);
  --card-bg-dark: oklch(0.145 0 0);
  --card-fg-dark: oklch(0.985 0 0);
  --popover-bg-dark: oklch(0.145 0 0);
  --popover-fg-dark: oklch(0.985 0 0);
  --primary-bg-dark: oklch(0.985 0 0);
  --primary-fg-dark: oklch(0.205 0 0);
  --secondary-bg-dark: oklch(0.269 0 0);
  --secondary-fg-dark: oklch(0.985 0 0);
  --muted-bg-dark: oklch(0.269 0 0);
  --muted-fg-dark: oklch(0.708 0 0);
  --accent-bg-dark: oklch(0.269 0 0);
  --accent-fg-dark: oklch(0.985 0 0);
  --danger-dark: oklch(0.396 0.141 25.723);
  --danger-fg-dark: oklch(0.637 0.237 25.331);
  --border-color-dark: oklch(0.269 0 0);
  --input-bg-dark: oklch(0.269 0 0);
  --focus-ring-dark: oklch(0.556 0 0);
  --chart-color-1-dark: oklch(0.488 0.243 264.376);
  --chart-color-2-dark: oklch(0.696 0.17 162.48);
  --chart-color-3-dark: oklch(0.769 0.188 70.08);
  --chart-color-4-dark: oklch(0.627 0.265 303.9);
  --chart-color-5-dark: oklch(0.645 0.246 16.439);
  --sidebar-bg-dark: oklch(0.205 0 0);
  --sidebar-fg-dark: oklch(0.985 0 0);
  --sidebar-primary-bg-dark: oklch(0.488 0.243 264.376);
  --sidebar-primary-fg-dark: oklch(0.985 0 0);
  --sidebar-accent-bg-dark: oklch(0.269 0 0);
  --sidebar-accent-fg-dark: oklch(0.985 0 0);
  --sidebar-border-color-dark: oklch(0.269 0 0);
  --sidebar-focus-ring-dark: oklch(0.439 0 0);

  --background: var(--bg-dark);
  --foreground: var(--fg-dark);
  --card: var(--card-bg-dark);
  --card-foreground: var(--card-fg-dark);
  --popover: var(--popover-bg-dark);
  --popover-foreground: var(--popover-fg-dark);
  --primary: var(--primary-bg-dark);
  --primary-foreground: var(--primary-fg-dark);
  --secondary: var(--secondary-bg-dark);
  --secondary-foreground: var(--secondary-fg-dark);
  --muted: var(--muted-bg-dark);
  --muted-foreground: var(--muted-fg-dark);
  --accent: var(--accent-bg-dark);
  --accent-foreground: var(--accent-fg-dark);
  --destructive: var(--danger-dark);
  --destructive-foreground: var(--danger-fg-dark);
  --border: var(--border-color-dark);
  --input: var(--input-bg-dark);
  --ring: var(--focus-ring-dark);
  --chart-1: var(--chart-color-1-dark);
  --chart-2: var(--chart-color-2-dark);
  --chart-3: var(--chart-color-3-dark);
  --chart-4: var(--chart-color-4-dark);
  --chart-5: var(--chart-color-5-dark);
  --sidebar: var(--sidebar-bg-dark);
  --sidebar-foreground: var(--sidebar-fg-dark);
  --sidebar-primary: var(--sidebar-primary-bg-dark);
  --sidebar-primary-foreground: var(--sidebar-primary-fg-dark);
  --sidebar-accent: var(--sidebar-accent-bg-dark);
  --sidebar-accent-foreground: var(--sidebar-accent-fg-dark);
  --sidebar-border: var(--sidebar-border-color-dark);
  --sidebar-ring: var(--sidebar-focus-ring-dark);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary-bg);
  --color-primary-foreground: var(--primary-fg);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}